.dialog_container {
    width: 100%;
    height: 100%;
}

.dialog_button {
    width: 100%;
    height: 100%;
    position: relative;
}

.dialog_speech_container {
    width: 100%;
    height: 30%;
    position: relative;

}

.speech_bubble {
    margin: auto;
    width: 70%;
    height: 80%;
    background-color: white;
    border-radius: 35px;
    position: absolute;
    top:50%;
    bottom: 50%;
    left:10%;
    right:10%;
}

.speech_bubble_text {
    position: absolute;
    height: 30%;
    width: 80%;
    top:50%;
    bottom: 50%;
    margin: auto;
    text-align: center;
    left:10%;
    right:10%;
}

.speech_bubble_triangle_ayu {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid white;   
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 0;
}

.speech_bubble_triangle_speaker {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid white;  
    position: absolute;
    right: 25%;
    left: 75%;
    bottom: 0;
}

.speech_bubble_triangle_player {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid white;  
    position: absolute;
    right: 75%;
    left: 25%;
    bottom: 0;
}

.dialog_speaker_container {
    width: 100%;
    height: 70%;
}

.ayu_img_container{ 
    margin: auto;
    width: 50%;
    height: 100%;
    position: relative;
}