.rs_table {
    margin: auto;
    justify-content: center;
    align-items: center;
}

.rs_col {
    padding-left: 10px;
    padding-right: 10px;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.rs_map_button {
    width: 100%;
    height: 10%;
}
.recipe_select_text {
    width: 100%;
    height: 5%;
    text-align: center;
}

.rs_col:hover {
    transform:scale(1.2) ;
    background-size:cover;
}

.rs_text_container {
    padding-top: 10%;
    padding-bottom: 10%;

    width: 100%;
    text-align: center;
}

.rs_image{

    margin: auto;
    width: 100px;
    height: 100px;
    position: relative;
}

.small_recipe_card_container {
    width: 100%;
    height: 100%;
    border: solid red 1px;
}

.recipe_card_container {
    width: 100%;
    height: 100%;
    border: solid red 1px;
}

.fs_aunt_container {
    margin: auto;
    width: 115px;
    height: 330px;
    position: relative;
}