.rs_table {
    top: 50%;
    left: 10%;
    right: 10%;
    position: absolute;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.rs_col {
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.rs_map_button {
    position: absolute;
    width: 100%;
    height: 10%;
}
.recipe_select_text {
    
    width: 100%;
    height: 5%;
    text-align: center;
}

.rs_col:hover {
    transform:scale(1.2) ;
    background-size:cover;
}

.rs_button_grid {
    font-size: x;
    margin: auto;
    padding-top: 190px;
    width: 60%;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.rs_text_container {
    top: 15%;
    right: 30%;
    position: absolute;
    background-color: #F6CA64;
    border-radius: 20px;
    width: 40%;
    text-align: center;
}

.rs_image{
    font-size: small;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #F6CA64;
    margin: auto;
    width: 180px;
    height: 125px;
    border-radius: 20px;
}

.rs_image_text {
    margin: auto;
}

.small_recipe_card_container {
    width: 100%;
    height: 100%;
}

.recipe_card_container {
    width: 100%;
    height: 100%;
}

.fs_aunt_container {
    margin: auto;
    width: 100px;
    height: 270px;
    position: relative;
}

.background_image {
    position: absolute;
    width: 100%;
    height: 100%;
}


.recipe_card_img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.recipe_card_button {
    position: absolute;
    left: 43%;
    right: 40%;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    bottom: 3%;
    background-color: #F6CA64;
}

.recipe_card_text_container {
    position: absolute;
    left:11%;
    right:11%;
    top: 12%;
    bottom: 12%;
}

.recipe_card_text{ 
    left: 10px;
    font-size: x-large;
    position: relative;
}

.small_recipe_card_img {
    position: relative;
    width: 100%;
    height: 100%;   
}

.small_recipe_card_text_container {
    position: absolute;
    width: 300px;
    height: 250px;
    left:8%;
    right:11%;
    top: 8%;
    bottom:0%;
}

.small_recipe_card_text{ 
    padding-bottom: 9px;
    margin: 0;
    font-size: medium;
    position: relative;
} 

.end_container {
    width: 100%;
    height: 100%;
    border: solid red 1px;
    justify-content: center;
}

.end_button {
    position: relative;
    left: 21%;
    margin-left: 40px;
    right: 50%;
    width: 20%;
    height: 40px;
    background-color: #F6CA64;
    border-radius: 20px;
}