.map{
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
    background-image: URL("/img/map/MapBackground.png");
}

.icon {
    width: 175px;
    height: 175px;
    position: relative;
}

.icon:hover {
    transform:scale(1.5) ;
    background-size:cover;
}