/* ----- RECEPE SELECT CSS -----*/

.rs_table {
    top: 50%;
    left: 10%;
    right: 10%;
    position: absolute;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.rs_col {
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.rs_map_button {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: x-large;
    background-color: var(--button-background-color);
    width: 220px;
    height: 40px;
    border-radius: 15px;
    box-shadow: 2px 2px #190933;
}
.recipe_select_text {
    
    width: 100%;
    height: 5%;
    text-align: center;
}

.rs_col:hover {
    transform:scale(1.2) ;
    background-size:cover;
}

.rs_button_grid {
    position: absolute;
    font-size: x;
    margin: auto;
    width: 60%;
    top: 35%;
    left: 20%;
    right: 50%;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.rs_text_container {
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0%);
    position: absolute;
    background-color: #F6CA64;
    border-radius: 20px;
    width: 50%;
    text-align: center;
}

.rs_image{
    font-size: small;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #F6CA64;
    margin: auto;
    width: 180px;
    height: 125px;
    border-radius: 20px;
}

.rs_image_text {
    margin: auto;
}

.recipe_card_button {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: x-large;
    background-color: var(--button-background-color);
    width: 220px;
    height: 40px;
    border-radius: 15px;
    box-shadow: 2px 2px #190933;
}

/* ----- BIG RECIPE CARD CSS -----*/

.recipe_card_container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f6ca65;
    border-radius: 15px;

}

.recipe_card_title_container {
    position: relative;
    width: 75%;
    height: 12%;
    text-align: center;
    border: solid #190933 1px;
    border-bottom: solid #190933 4px;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: #F6EFDD;
}

.recipe_card_title {
    margin-left: 20px;
    position: relative;
    font-size: large;
}
.recipe_card_ing_container {
    border: solid #190933 1px;
    width: 75%;
    height: 70%;
    position: absolute;
    top: 17%;
    left: 50%;
    padding-left: 30px;
    padding-right: 30px;
    transform: translate(-50%, 0%);
    background-color: #F6EFDD;
}
.recipe_card_ing {
    position: static;
    height: 25px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: solid #190933 2px;
    font-size: medium;
}

/* ----- SMALL RECIPE CARD CSS -----*/

.small_recipe_card_title_container {
    position: relative;
    width: 90%;
    height: 12%;
    text-align: center;
    border: solid #190933 1px;
    border-bottom: solid #190933 2px;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: #F6EFDD;
}

.small_recipe_card_title {
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    font-size: small;
}

.small_recipe_card_ing_container {
    border: solid #190933 1px;
    width: 90%;
    height: 77%;
    position: absolute;
    top: 17%;
    left: 50%;
    padding-left: 20px;
    padding-right: 20px;
    transform: translate(-50%, 0%);
    background-color: #F6EFDD;
}

.small_recipe_card_ing {
    position: relative;
    height: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: solid #190933 2px;
    font-size: small;
}

/* ----- FAMILY SELCECT CSS -----*/

.fs_aunt_container {
    margin: auto;
    width: 100px;
    height: 270px;
    position: relative;
}

.background_image {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* ----- END SCREEN CSS -----*/


.end_container {
    width: 100%;
    height: 100%;
    justify-content: center;
}

.end_button {
    position: relative;
    left: 21%;
    margin-left: 40px;
    right: 50%;
    width: 20%;
    height: 40px;
    background-color: #F6CA64;
    border-radius: 20px;
}