.goBack_button {
    background-color: var(--button-background-color);
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin-left: 20px;
}

/* Chill Out */

.chillout_container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.chillout_ayu {
    width: 50%;
    height: 100%;
    padding-top: 20px;
} 

.chillout_text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Move Your body */

.move_your_body_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    
}

.move_your_body_img img {
    width:  60%; 
    border-radius: 15px;   
}

.move_your_body_title_container{
    position: absolute;
    z-index: 1000;
    top:20px;
    color: white;
    width: 100%;
    text-align: center;
}


/* ----- Poppin Bubbles Break -----*/

.as_title_container{
    position: absolute;
    z-index: 1000;
    top:15%;
    color: white;
    width: 100%;
    text-align: center;
}

.continue_button {
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: x-large;
    background-color: var(--button-background-color);
    width: 200px;
    height: 50px;
    border-radius: 15px;
    box-shadow: 2px 2px #190933;
}

.bubble_container {
    margin-top: -40px;
    width: 100%;
    height: 110%;
    background-color: rgb(8, 8, 32);
    overflow: visible;
  }
  
  .bub {
    width: 130px;
    height: 130px;
    background-image: url(https://static.vecteezy.com/system/resources/previews/001/196/020/non_2x/bubbles-shiny-png.png);
    background-size: cover;
    backdrop-filter: blur(2px);
    position: absolute;
    bottom: -50px;
    animation: bubble 3.5s linear infinite;
    cursor: pointer;
    z-index: 100;
  }
  
  @keyframes bubble {
    100% {
      transform: translate(0, -700px);
      display: none;
    }
  }


  /* Free Style art */

.art_title_container{
    position: absolute;
    z-index: 1000;
    top:0%;
    color: white;
    background-color: black;
    width: 100%;
    text-align: center;
}


/* Mandala art */

.mandala_container {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mandala_container svg {
    zoom: 0.8;
}

.mandala_items {
    width: 20%;
    height: 100%;
    overflow: scroll;
    margin-top: 40px;
}
.item {
    width: 50%;
    zoom: 0.3;
}

/* Print */

@media print{
    .hiddenPrint, .hiddenPrint *{
      display: none !important;
    }
  }