.dialog_speech_container {
    position: relative;
    top: 0px;
    width: 100%;
    height: 30%;

}

.speech_bubble {
    position: absolute;
    width: 70%;
    height: 80%;
    background-color: white;
    border-radius: 35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.speech_bubble_text {
    position: absolute;
    height: 30%;
    width: 80%;
    top:50%;
    bottom: 50%;
    margin: auto;
    text-align: center;
    left:10%;
    right:10%;
}


.dialog_speaker_container {
    width: 100%;
    height: 70%;
}

.ayu_img_container{ 
    position: relative;
    margin: auto;
    width: 50%;
    height: 70%;
}

.speaker_img_container{ 
    margin: auto;
    width: 100%;
    height: 100%;
}

.speaker_img {
    width: 115px;
    height: 350px;
    right: 14.5%;
    bottom: 0px;
    position: absolute;
}

.player_img {
    width: 200px;
    height: 200px;
    left: 14%;
    bottom: 55px;
    position: absolute;
}

.speech_bubble_triangle {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid white;   
    position: absolute;
    bottom: 0;
}

#left {
    right: 75%;
    left: 25%;
}

#center { 
    right: 50%;
    left: 50%;
}

#right {
    right: 25%;
    left: 75%;
}