.question_container {
    border-radius: 15px;
    width: 45%;
    height: 55%;
    border: solid black 1px;
}

.question_text_container {
    text-align: center;
    font-size: 30px;
    margin: auto;
    width: 90%;
    height: 70%;
}

.numpad_container {
    width: 55%;
    height: 45%;
    border-radius: 15px;
    border: solid black 1px;
}

.child_container {
    width: 55%;
    height: 55%;
    border-radius: 15px;
    position: absolute;
    border: solid black 1px;
}

.ayu_block {
    width: 45%;
    height: 45%;
    border-radius: 15px;
    border: solid black 1px;
    position: relative;
}

.ayu_image_container {
    margin: auto;
    width: 45%;
    height: 60%;
    position: relative;
}

.ayu_speech_bubble {
    margin-left: auto;
    margin-right: auto;
    height: 80%;
    background-color: white;
    border-radius: 35px;
    position: relative;
}

.ayu_speech_bubble_container {
    padding-top: 10px;
    margin: auto;
    width: 70%;
    height: 40%;
}

.speech_bubble_text{
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
    margin: auto;
    position: relative;
}

.num_pad_container {
    padding-left: 20px;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.num_pad_button_box {
    width: 100%;
    height: calc(100% - 110px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
}

.num_pad_button {
    width: 40px;
    height: 20px;
    background-color: #F6CA64;
    border: solid black 1px;
}

.num_pad_left_box {
    width: 25%;
}

.num_pad_answer {
    width: 100%;
    height: 15%;
    background-color: #F6CA64;
    border: solid black 2px;
    margin: auto;    
    text-align: center;
}

.ayu_speech_bubble_triangle {
    width: 0%; 
    height: 100%; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid white;  
    position: absolute;
    right: 50%;
    left: 40%;
    bottom: 40%;
    top: 100%
}

.continue_button {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: x-large;
    background-color: var(--button-background-color);
    width: 200px;
    height: 40px;
    border-radius: 15px;
    box-shadow: 2px 2px #190933;
}