.question_container {
    border-radius: 15px;
    width: 45%;
    height: 46.5%;
    top: 20px;
    position: absolute;
    left: 55%;
}
.numpad_container {
    top: 59%;
    width: 55%;
    position: absolute;
    height: 36.25%;
    border-radius: 15px;
}

.child_container {
    top: 20px;
    width: 55%;
    position: absolute;
    height: 55%;
    border-radius: 15px;
}

.ayu_block {
    width: 45%;
    left: 55%;
    height: 45%;
    border-radius: 15px;
    position: absolute;
}

.question_text_container {
    text-align: center;
    font-size: 30px;
    margin: auto;
    width: 90%;
    height: 40%;
}


.ayu_image_container {
    margin: auto;
    width: 45%;
    height: 60%;
    position: relative;
}

.pet_img {
    position:relative;
    top: 15%
}

.ayu_speech_bubble {
    margin-left: auto;
    margin-right: auto;
    height: 80%;
    background-color: white;
    border-radius: 20px;
    position: relative;
}

.ayu_speech_bubble_container {
    padding-top: 10px;
    margin: auto;
    width: 90%;
    height: 40%;
}

.speech_bubble_text{
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
    margin: auto;
    position: relative;
    font-size: small;
}

.num_pad_container {
    width: 100%;
    height: 100%;
    margin-top: -40px;
}

.num_pad_button_box {
    width: 100%;
    height: calc(100% - 110px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
}

.num_pad_button {
    width: 40px;
    height: 20px;
    background-color: #F6CA64;
    border: solid black 1px;
}

.num_pad_left_box {
    width: 35%;
}

.num_pad_answer {
    width: 100%;
    height: 70%;
    background-color: #F6CA64;
    border: solid black 2px;
    margin: auto;    
    text-align: center;
}

.ayu_speech_bubble_triangle {
    width: 0%; 
    height: 100%; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid white;  
    position: absolute;
    right: 50%;
    left: 42%;
    bottom: 40%;
    top: 100%
}

.continue_button {
    position: relative;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: x-large;
    background-color: var(--button-background-color);
    width: 200px;
    height: 40px;
    border-radius: 15px;
    box-shadow: 2px 2px #190933;
    margin-top: -60px;
}

#back_to_map_button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 10px;
}

#back_button {
    background-color: var(--button-background-color);
    width: 110px;
    height: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px #190933;
    font-size: small;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

#submit_button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    bottom: 10px;
}

.basic_game_instructions_text_container {
    position: relative;
    margin:auto;
    background-color: #F6CA64;
    margin-top: 20px;
    width: 60%;
    height: 70px;
    text-align: center;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.basic_game_instructions_text {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.basic_game_child_container {
    position: relative;
    width: 550px;
    height: 350px;
    top: 2%;
    left: 50%;
    transform: translate(-50%, 0%);
}