.tool_bar{
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    background-color: burlywood;
  }
  /*Map Page*/
  .map{
    width: 100%;
    height: 100%;
    background-image: URL("/img/map/tempMap.png");
  }
  
  .icon {
    position: absolute;
    width: 128px;
    height: 128px;
  }
  
  .icon:hover {
    transform:scale(1.5) ;
    background-size:cover;
  }
  
  #aunt {
    background-image: URL("/img/map/tempRest.png");
    border: solid cyan 1px;
    top: 80px;
    left: 350px;
  }
  
  #resturant {
    top: 350px;
    left: 350px;
    background-image: URL("/img/map/tempRest.png");
    border: solid brown 1px;
  }
  
  .mini_game_container {
    margin-top: 30px;
    width: 100%;
    height: 482px;
    border: solid brown 1px;
  
  }