/*----------------------- General -----------------------*/
:root {
  --page-color: #EDBFC6;
  --font-color:#190933;
    /*TODO: Color is hard to see, maybe change colors*/
  --button-hover-color: #F5E852; 
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  /* TODO: select font for text */
  background-color: var(--page-color);
  color: var(--font-color);
}

.page_container {
  margin: auto;
  width: 800px;
  height: 600px;
  text-align: center;
  border: solid var(--font-color) 2px;
}

.container{
  width: 100%;
  height: 100%;

}

button {
  background: none;
  border: none;
  font-size: medium;
  color: var(--font-color);
}

button:hover {
  color: var(--button-hover-color);
  text-decoration: underline;
}


* {
  box-sizing: border-box;
}

/*----------------------- HEADER -----------------------*/

.header-container {
  width: 100%;
  height: fit-content;
  text-align: center;
}

.header-title {
  font-size: 50px;
}

/*Language Select*/

.language-select {
  width: 100%;
  margin-bottom: 10px;
}

.language-select table {
  text-align: center;
  width: 26%;
  margin-right: auto;
  margin-left: auto;

}
.language-select td {
  width: 50px;
}

/*------------------------------------------------------*/
