:root {
  --page-color: #EDBFC6;
  --font-color:#190933;
  --button-hover-color: #F5E852; 
  --menu-background-color: #F6CA64;
  --button-background-color: #7B6DBC; 
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
	font-family: Futura,Trebuchet MS,Arial,sans-serif; 
  background-color: var(--page-color);
  color: var(--font-color);
}

* {
  box-sizing: border-box;
}

.basic_button {
  font-size: x-large;
  background-color: var(--button-background-color);
  width: 220px;
  height: 40px;
  border-radius: 15px;
  box-shadow: 2px 2px #190933;
}

button,
a {
  background: none;
  border: none;
  font-size: medium;
  color: var(--font-color);
  text-decoration: none;
  outline: none;
}

button:focus {
  outline: none;
}

p {
  background: none;
  border: none;
  font-size: medium;
  color: var(--font-color);
  text-decoration: none;
}

button:hover,
a:hover {
  color: var(--button-hover-color);
  text-decoration: underline;
}


.header_container {
  position: fixed;
  width: 100vw;
  top: 0px;
  height: 20vh;
}

.confetti_start{
  position: fixed;
  top: -78px;
  height: 1px;
}


.body_container {
  position: fixed;
  top: 20vh;
  width: 100vw;
  height: 80vh;
}

.view_container {
  position: absolute;
  margin: auto;
  width: 720px;
  height: 550px;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 15px;
  border: solid var(--font-color) 2px;
  box-shadow: 2px 2px #190933;
}

.key_listener {
  display: none;
}

.start_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: x-large;
  background-color: var(--button-background-color);
  width: 200px;
  height: 80px;
  border-radius: 15px;
  box-shadow: 2px 2px #190933;
}

.green {
  color: green
}

.red {
  color: red
}


.end_container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 50%;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.end_button {
  
  font-size: x-large;
  background-color: var(--button-background-color);
  width: 200px;
  height: 80px;
  border-radius: 15px;
  box-shadow: 2px 2px #190933;
}

.view_background_image_container {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fill_container {
  width: 100%;
  height: 100%;
  position: relative;
}