:root {
  --page-color: #EDBFC6;
  --font-color:#190933;
    /*TODO: Color is hard to see, maybe change colors*/
  --button-hover-color: #F5E852; 
  --menu-background-color: #F6CA64;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  /* TODO: select font for text */
  background-color: var(--page-color);
  color: var(--font-color);
}

* {
  box-sizing: border-box;
}


.view_container {
  position: relative;
  margin: auto;
  width: 720px;
  height: 500px;
  border: solid black 4px;
}

button,
a {
  background: none;
  border: none;
  font-size: medium;
  color: var(--font-color);
  text-decoration: none;
  outline: none;
}

button:focus {
  outline: none;
}

p {
  background: none;
  border: none;
  font-size: medium;
  color: var(--font-color);
  text-decoration: none;
}

button:hover,
a:hover {
  color: var(--button-hover-color);
  text-decoration: underline;
}

.key_listener {
  display: none;
}

