
.container {
  width: 75%;
  margin:auto;
  height: fit-content;
  text-align: center;
}
  
.title_container {
  width: 100%;
}

.title {
  font-size: 35px;
}
  

.lang_select {
  width: 100%;
  margin: auto;
}

.lang_select table {
  width: 40%;
  text-align: center;
  margin:auto;


}
.lang_select td {
  width: 50px;

}

