.pet_select_button {
    height: 80px;
    width: 80px;
    position: relative;
}

  
.button_bar {
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 4px;
    width: 100%;
    max-width: 500px;
    margin-top: 0%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.as_title_container{
    width: 100%;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 0%;
    font-size: 5vh ;
}

.hoverable {
    position: relative;
}

.hoverable:hover {
    position: absolute;
    content: attr(title);
    display: inline-block;
    left: 0px;
    top: 0px;
    padding: 5px;
    background-color: black;
    color: white;
}

.continue_button {
    font-size: x-large;
    background-color: var(--button-background-color);
    width: 220px;
    height: 40px;
    border-radius: 15px;
    box-shadow: 2px 2px #190933;
    max-width: 90%;
    margin-top: 2vh;
    margin-bottom: 3vmax;
  }